<Layout::Text text-l text-f>
    <h5><i class="fas fa-arrow-left"></i> &nbsp; <Link @link="docs.surrealql.statements.index">Back to overview</Link></h5>
    <h2><code>DEFINE</code> statement</h2>
	<p>The DEFINE statement can be used to specify:</p>
	<ul>
		<li>Schemas</li>
		<li>Events</li>
		<li>Authorization Settings and Behaviors</li>
		<li>Authentication Settings and Behaviors</li>
		<li>Indexes</li>
		<li>And more...</li>
	</ul>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Statement syntax</h3>
	<Code @name="docs/surrealql/statements/define/syntax.typescript" text="SQL Syntax" />
</Layout::Text>

<Layout::Gap mini />

<Layout::Boxes cols-3-to-2-to-1>
		<LinkTo @route="docs.surrealql.statements.define.table">
		<Layout::Boxes::Item mini hover>
			<h4><code>DEFINE TABLE</code> statement</h4>
			<p>Declare the name of a table, make it schemafull or schemaless, create projections, and set table level permissions</p>
		</Layout::Boxes::Item>
	</LinkTo>
</Layout::Boxes>

<Layout::Gap large />