<Layout::Text text-l text-f>
    <h5><i class="fas fa-arrow-left"></i> &nbsp; <Link @link="docs.surrealql.statements.index">Back to overview</Link></h5>
    <h2><code>DEFINE</code> statement</h2>
	<p>The DEFINE statement can be used to specify:</p>
	<ul>
		<li>Schemas</li>
		<li>Events</li>
		<li>Authorization Settings and Behaviors</li>
		<li>Authentication Settings and Behaviors</li>
		<li>Indexes</li>
		<li>And more...</li>
	</ul>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Statement syntax</h3>
	<Code @name="docs/surrealql/statements/define/syntax.typescript" text="SQL Syntax" />
</Layout::Text>

<Layout::Gap mini />

<Layout::Boxes cols-3-to-2-to-1>
	<LinkTo @route="docs.surrealql.statements.define.namespace">
		<Layout::Boxes::Item mini hover>
			<h4><code>DEFINE NAMESPACE</code></h4>
			<p>Description coming soon!</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.statements.define.database">
		<Layout::Boxes::Item mini hover>
			<h4><code>DEFINE DATABASE</code></h4>
			<p>Description coming soon!</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.statements.define.login">
		<Layout::Boxes::Item mini hover>
			<h4><code>DEFINE LOGIN</code></h4>
			<p>Description coming soon!</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.statements.define.token">
		<Layout::Boxes::Item mini hover>
			<h4><code>DEFINE TOKEN</code></h4>
			<p>Description coming soon!</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.statements.define.scope">
		<Layout::Boxes::Item mini hover>
			<h4><code>DEFINE SCOPE</code></h4>
			<p>Description coming soon!</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.statements.define.table">
		<Layout::Boxes::Item mini hover>
			<h4><code>DEFINE TABLE</code></h4>
			<p>Declare the name of a table, make it schemafull or schemaless, create projections, and set table level permissions</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.statements.define.event">
		<Layout::Boxes::Item mini hover>
			<h4><code>DEFINE EVENT</code></h4>
			<p>Description coming soon!</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.statements.define.field">
		<Layout::Boxes::Item mini hover>
			<h4><code>DEFINE FIELD</code></h4>
			<p>Declare the name of a field, specify its datatype, assert rules, permissions and more.</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.surrealql.statements.define.define-index">
		<Layout::Boxes::Item mini hover>
			<h4><code>DEFINE INDEX</code></h4>
			<p>Description coming soon!</p>
		</Layout::Boxes::Item>
	</LinkTo>
</Layout::Boxes>

<Layout::Gap large />