<Layout::Text text-l text-f>
    <h5><i class="fas fa-arrow-left"></i> &nbsp; <Link @link="docs.surrealql.statements.define">Back to <code>DEFINE</code></Link></h5>
    <h2><code>DEFINE TABLE</code> statement</h2>
	<p>The DEFINE statement.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Statement syntax</h3>
	<Code @name="docs/surrealql/statements/define/table/syntax.typescript" text="SQL Syntax" />
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Example Usage</h3>
	<p>The following query shows the simplest way to use the <code>DEFINE TABLE</code> statement.</p>
	<Code @name="docs/surrealql/statements/define/table/name-table.sql" />
	<p>The following shows how to make a projection using the <code>DEFINE TABLE</code> statement. If you're familiar with concepts found in common RDBMS systems, this would be similar to creating a <a href="https://www.postgresql.org/docs/14/tutorial-views.html" target="_blank">view</a>. </p>
</Layout::Text>

<Layout::Gap large />